/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Martian Mono", Verdana, Tahoma, sans-serif;
    font-weight: 500;
    line-height: 2.5;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    border-bottom: 1px solid #000;
}

.profile,
.welcome,
.about,
.table {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
}

.logo {
    width: 200px;
    padding-top: 20px;
}

.profile-picture {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

footer {
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    /* will clear all floats, both right and left. */
    clear: both;
}

li {
    display: inline-block;
    margin-right: 20px;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list__item,
.linkto {
    color: #090ccf;
    font-size: 20px;
    text-decoration: none;
}

.linkto:focus {
    color: #7010ab;
}

.navigation-list__item:hover,
.linkto:hover {
    color: #ab109f;
}

.svg:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.svg {
    padding: 15px;
}

table,
th,
td {
    margin: 0 auto;
    border: 1px double;
    border-collapse: collapse;
}

th,
td {
    padding: 0 20px;
}

h1 {
    color: orangered;
    font-size: 30px;
    text-align: center;
}

h2 {
    color: orangered;
    text-align: center;
}

.grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    background-color: black;
    color: azure;
    padding: 10px;
}

.grid-item {
    background-color: darkred;
    border: 2px solid rgb(251, 153, 153);
    padding: 30px;
    font-size: 28px;
    text-align: center;
}

@media all and (max-width: 700px) {
    h1 {
        font-size: 20px;
    }

    .grid-container {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
        padding: 5px;
    }

    .grid-item {
        padding: 10px;
        font-size: 20px;
        text-align: center;
    }
}

button,
.button {
    background-color: orangered;
    /* Green */
    border: 1px solid azure;
    border-radius: 20%;
    color: rgb(230, 248, 248);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    margin-bottom: 25px;
    -webkit-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    transition-duration: 100ms;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

@-webkit-keyframes color-change {
    0% {
        fill: #ccf;
    }

    50% {
        fill: #33f;
    }

    100% {
        fill: #f76414;
    }
}

@keyframes color-change {
    0% {
        fill: #ccf;
    }

    50% {
        fill: #33f;
    }

    100% {
        fill: #f76414;
    }
}

path {
    -webkit-animation: 4s color-change infinite alternate linear;
}

.resume-link {
    margin-top: 55px;
    margin-bottom: 0;
    text-align: center;
}

.section-contact {
    min-height: 100vh;
    padding: 10px 0;
    background-image: linear-gradient(175deg, #faf9f8 50%, orange 50%, orangered);
}

.section-contact .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 32px;
    text-align: center;
}

@media (min-width: 768px) {
    .section-contact .container {
        padding: 0 64px;
    }
}

@media (min-width: 1024px) {
    .section-contact .container {
        padding: 0 128px;
    }
}

.section-contact .container h1 {
    color: orangered;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
}

.section-contact .container p {
    color: #888;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 32px;
}

.section-contact .container form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    background-color: white;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
    .section-contact .container form {
        grid-template-columns: repeat(2, 1fr);
    }
}

.section-contact .container form .form-group.full {
    /* Starting from the first element to
    all the way to the end. This will stretch
    the odd element stretch accros the area.*/
    grid-column: 1/-1;
}

.section-contact .container form .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #888;
    font-size: 14px;
}

.section-contact .container form .form-group .form-element {
    /* Next three line resets the form elements */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    display: block;
    width: 100%;
    /* form elements paddings may get stretchy
    even can overlay the container (next three lines) */
    border-radius: 8px;
    padding: 12px 16px;
    background-color: #f1ede8;
}

.section-contact .container form .form-group .form-element:focus {
    /* When clicked input boxes will be white and get box shadow */
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: white;
    transition: 0.4s;
}

.section-contact .container form .form-group textarea {
    /* this will prevent the strechyness */
    resize: none;
    min-height: 100px;
}

.section-contact .container form .submit-group {
    /* button will span to the end */
    grid-column: 1/-1;
    /* This supposed to take submit button to the right but
    it's not happening */
    text-align: right;
}

.section-contact .container form .submit-group input[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    padding: 12px 16px;
    background-color: #f08603;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}

.section-contact .container form .submit-group input[type=submit]:hover {
    background-color: #f93c02;
}

.error-message {
    color: red;
    font-size: 0.8em;
}