/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Martian Mono", Verdana, Tahoma, sans-serif;
    font-weight: 500;
    line-height: 2.5;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    border-bottom: 1px solid #000;
}

.profile,
.welcome,
.about,
.table,
.form {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
}

.logo {
    width: 200px;
}

.profile-picture {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

footer {
    font-size: 18px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

#submit {
    background-color: rgb(10, 174, 174);
    border-radius: 15%;
    border: none;
    font-size: 20px;
    height: 60px;
    text-align: center;
    width: 120px;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    margin-bottom: 25px;
    -webkit-transition-duration: 1000ms;
    -o-transition-duration: 1000ms;
    transition-duration: 1000ms;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

submit:hover,
submit:focus,
#submit:hover,
#submit:focus {
    cursor: pointer;
    opacity: 0.8;
}

li {
    display: inline-block;
    margin-right: 20px;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list__item,
.linkto {
    color: #090ccf;
    font-size: 20px;
    text-decoration: none;
}

.linkto {
    font-size: 20px;
}

.linkto:focus {
    color: #7010ab;
}

.navigation-list__item:hover,
.linkto:hover {
    color: #ab109f;
}

.svg:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.svg {
    padding: 15px;
}

table,
th,
td {
    border: 1px double;
}

th,
td {
    padding: 10px;
}

h1 {
    color: orangered;
    font-size: 30px;
    text-align: center;
}

.grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    background-color: black;
    color: azure;
    padding: 10px;
}

.grid-item {
    background-color: darkred;
    border: 2px solid rgb(251, 153, 153);
    padding: 30px;
    font-size: 28px;
    text-align: center;
}

@media all and (max-width: 700px) {
    h1 {
        font-size: 20px;
    }

    .grid-container {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
        padding: 5px;
    }

    .grid-item {
        padding: 10px;
        font-size: 20px;
        text-align: center;
    }
}

button,
.button {
    background-color: orangered;
    /* Green */
    border: 1px solid azure;
    border-radius: 20%;
    color: rgb(230, 248, 248);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    margin-bottom: 25px;
    -webkit-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    transition-duration: 100ms;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

@-webkit-keyframes color-change {
    0% {
        fill: #ccf;
    }

    50% {
        fill: #33f;
    }

    100% {
        fill: #f76414;
    }
}

@keyframes color-change {
    0% {
        fill: #ccf;
    }

    50% {
        fill: #33f;
    }

    100% {
        fill: #f76414;
    }
}

path {
    -webkit-animation: 4s color-change infinite alternate linear;
    animation: 4s color-change infinite alternate linear;
}

form {
    width: 450px;
    max-width: 400px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 0.25em;
}